/* css */

.auction_full { margin-bottom:10px; position:relative; overflow:hidden;}
.small-auction-sold {top:10px; left:25px; position:absolute; z-index:50; background:url(../images/icons/small-sold.png) no-repeat; width:73px; height:73px; }

.big-auction-sold { top:5px; left:25px; position:absolute; z-index:50; background:url(../images/icons/big-sold.png) no-repeat; width:85px; height:84px; }


.auction_home { width:auto;  position:relative;  }
.auction_home .small-auction-sold { top:10px; left:30px; position:absolute; z-index:50; }
.auction_home .big-auction-sold { top:50px; left:80px; position:absolute; z-index:50;}

.success{color:#359500; border:1px dotted #359500; background:#ffffea; font-size:105%; padding:2px 20px; text-align:center; width:90%; margin:2px auto;}
.error{color:#eb0b0c; border:1px dotted #eb0b0c; background:#ffffea; font-size:105%; padding:2px 20px; text-align:center; width:90%; margin:2px auto;}



.msg-window-error{

	-moz-border-radius: 7px 7px 7px 7px;
    background: none repeat scroll 0 0 #EC0000;
   border:solid 2px #C40000;
     color: #FFFFFF;
    cursor: default;
    display: block;
    font-weight: bold;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    width: 170px;
    z-index: 1000;
	float:right;


	}

.msg-window-btn-red {
    background: url("../images/close.png") no-repeat scroll right center transparent;
  color:#e42127;
    cursor: pointer;
    display: block;
    height: 14px;
    margin-right: 40px;
    padding-right: 10px;
    position: relative;
    text-indent: -4000px;
    width: 35px;
	float:right;
}


.msg-window-success{/*float:right; position:absolute; overflow:hidden;display:block; width:120px; padding:0 0px 0 0px; z-index:1001;*/

	-moz-border-radius: 7px 7px 7px 7px;
    background: none repeat scroll 0 0 #5B972C;
    border: 2px solid #004200;
     color: #FFFFFF;
    cursor: default;
    display: block;
    font-weight: bold;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    width: 170px;
    z-index: 1000;
	float:right;


	}

.msg-window-btn-green {
    background: url("../images/greenClose.png") no-repeat scroll right center transparent;
    color: #5B972C;
    cursor: pointer;
    display: block;
    height: 14px;
    margin-right: 40px;
    padding-right: 10px;
    position: relative;
    text-indent: -4000px;
    width: 35px;
	float:right;
}

ul.contactTabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 30px;
	width: 100%;
	background:url(../images/grayLine.gif) repeat-x bottom;
	padding-left:4px;
}
ul.contactTabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 30px;
	line-height: 30px;
	background:url(../images/tabs2.png) top left;
	overflow: hidden;
	position: relative;
	margin-right:6px;
}
ul.contactTabs li a {
	text-decoration: none;
	color: #000;
	font-weight:bold;
	display: block;
	font-size: 14px;
	padding: 0 20px;
	background:url(../images/tabs2.png) right -30px no-repeat;
}

ul.contactTabs li:hover, ul.contactTabs li#active {
	background:url(../images/tabs2.png) left -60px;
}

ul.contactTabs li a:hover, ul.contactTabs li#active a {
	background:url(../images/tabs2.png) right -90px no-repeat;
}


/*Pagination CSS start */
div.pagination {
	padding: 3px;
	margin: 3px;
}
div.pagination a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #AFCBF1;
	text-decoration: none; /* no underline */
	color: #5F8395;
	font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
}
div.pagination a:hover, div.pagination a:active {
	border: 1px solid #AFCBF1;
	color: #000;
	font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
}
div.pagination span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #AFCBF1;
	font-weight: bold;
	background-color: #1260b5;
	color: #FFF;
	font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
}
div.pagination span.disabled {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #CCC;
	color: #000;
	font-family: Arial, Verdana, Tahoma, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
}



.error-msg {
	color:#FF0000;
}
.success-msg {
	color:#00CC00;
}

.selectbox {
	width:210px;
	height:auto;
	padding:4px;
	color:#717171;
	font-size:12px;
	font-weight:normal;
	background:#ffffff;
	border:1px solid #95acbb;
	vertical-align:middle;
	text-align:left;
	font-family:Arial, Helvetica, sans-serif;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
}